##### Generated Folders ###############################################
### Godot 4+ specific ignores
.godot/
/android/

### IDE specific folders
.idea/
.vscode/

##### Binary assets ###############################################
# we'll be handling our assets via Drive, so let's make sure to ignore these items here

## Images
*.png
*.jpg
*.jpeg

## Audio
*.mp3
*.wav
*.ogg

## Fonts
*.ttf

### Sources/Misc
# project files for / anything not covered by the aforementioned sections

*.docx
*.pdf

# Audacity
*.aup
*.aup3

# I wonder!
*.aseprite

### Exceptions ###############################################
# if we are looking to ignore a directory, if there are / will be matching items below then it is better to ignore items within that directory than the whole directory
# e.g., "folder/**/*" is better than "folder/" as it (recursively) ignores items, rather than the directory, and thus the below exceptions are preserved

## Godot-generated, required for accurate id usage within scenes/nodes
!*.import
!*.uid
